CLIENT_ID=8675309666
CLIENT_SECRET=thisisntarealsecreddudecomeonitsanexample
REDIRECT_URI=https://whatyouthougthis/was/real/dude
GRANT_TYPE=authorization_code
RESPONSE_TYPE=code
SCOPE=identify
PORT=5050
KEY=dudeyoubettermakethisonereallongandkeepitsecretkeepitsafebutmostimportantlykeepitthesameastheotherfileandfortheloveofgodchangeit
SUCCESS_REDIRECT=https://thar.be.redirects